*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    flex-basis: 15rem;
    background-color: blanchedalmond;
    padding: 5rem 2.5rem;
    width: 15rem;
    border-radius: 1rem;
}
.container h2{
    text-align: center;
    margin: 0 0 1rem 0;
}
.container form{
    flex-basis: 100%;
    background-color: rgb(247, 229, 203);
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;

}
.container form *{
    text-align: center;
}
.container form input{
    border-radius: .2rem;
    border:none;
    background-color: #faefef;
    transform: translate(2rem);
    width: 80%;
    margin: 0 0 .3rem 0;
    height: 2rem;
}
.container form label{
    transform: translate(1rem);
}
.container button[type="submit"]{
    border: none;
    border-radius: .5rem;
    padding: .2rem .4rem;
    background-color: #fff;
    font-size: 1rem;
    font-weight: 900;
    position: relative;
    left: 50%;
    transform: translate(-50%, 1rem);
}
.before-simbol1::before{
    content: ">";
    background-image: url();
}